Checks: >
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  cert-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -readability-identifier-length,
  -readability-magic-numbers
WarningsAsErrors: '*'
HeaderFilterRegex: '(^|.*/)src/.*'
FormatStyle: file
